/********************
** Partials
********************/
@use 'partials/normalize';
@use 'partials/base';
@use 'partials/slider';
@use 'partials/sidebar';
@use 'partials/forms';
@use 'partials/footer';

