:root {
    --color-black: black;
    --color-white: white;
    --color-blue-light: #D6E4FF;
    --color-blue-dark: #0D2354;
    --color-text-link: #264C98;
    --color-text-link-light: #D6E4FF;
    --font-size-base: 18px;
    --font-family-base: "Zalando Sans", sans-serif;
    --border-radius-circle: 50%;
    --border-radius-box: 10px;
} 

body {
    background-color: var(--color-white);
    padding: 0;
    margin: 0;
}

main {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    @media screen and (min-width: 1024px) { flex-wrap: nowrap; }
}

article {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 2rem;
    margin-bottom: 4rem;
    order: 2;
    
    @media screen and (min-width: 1024px) {
        order: 1;
        width: 80vw;
    }
}

section {
    width: 100%;

    .section__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;    
    }

    .section__content--left,
    .section__content--right {
        display: flex;
        flex-flow: column wrap;
        width: 100%;

        @media screen and (min-width: 768px) {  width: 50%; }
    }

    .section__content--left {
        
        @media screen and (min-width: 1024px) {  width: 75%; }
    }

    .section__content--right {

        @media screen and (min-width: 1024px) {  width: 25%; }
    }       
}

header {
    padding: 0;
    margin-bottom: 4rem;  
}

// typography
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-base) !important;
    font-weight: 700 !important;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-optical-sizing: none;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1;
    text-align: left;
    color: var(--color-blue-dark); 

    .hero__site-title & {
        font-size: 2.5rem;
        font-weight: 300 !important;
        margin-bottom: 0;
        text-align: right;

        @media screen and (min-width: 768px) {font-size: 45px; }
    }
}


.h2, h2 {
    font-size: 2.5rem;
    line-height: 1;

    @media screen and (min-width: 480px) { font-size: 3.5rem; }

    @media screen and (min-width: 768px) { font-size: 4rem; }

    @media screen and (min-width: 1200px) { font-size: 4.5rem; }
}

.h3, h3 {
    font-size: 1.5rem !important;
    line-height: 1.2;

    @media screen and (min-width: 480px) { font-size: 2.2rem !important; }

    @media screen and (min-width: 768px) { font-size: 3rem !important; }
}

span:not(.overlay__background),
p, 
a, 
figcaption, 
li {
    margin-top: 0;
    font-size: var(--font-size-base);
    font-family: var(--font-family-base) !important;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 1.5;
    color: var(--color-blue-dark); 

    .hero__site-title & { 
        text-align: center;

        @media screen and (min-width: 480px) { text-align: right; }   
    }
}

ol, 
li {
            
    &::before { display: none; }
    
    &::marker { color: var(--color-blue-dark); }
}

a {
    color: var(--color-text-link);

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus { outline: auto; }

    &.skip-to-main {
        position: absolute;
        top: -45px;
        left: 0;
        background: var(--color-blue-dark);
        color: var(--color-white);
        padding: 8px;
        z-index: 100;
        
        &:focus {
            top: 0;
        }
    }
}

figure {

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    figcaption { 
        font-style: italic; 
        font-size: 0.9rem;
    }
}

.hero__identity {
    display: flex;
    flex-flow:  row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background-image: url('../images/dust-texture.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    @media screen and (min-width: 480px) {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .hero__logo {
        max-width: 200px;
        margin: 0 1rem 1rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    .hero__site-title { margin: 0 1rem; }
   
}

.hero__carousel { position: relative; }


form input {
    width: 75%;

    @media screen and (min-width: 480px) {
        width: 50%;
    }
}   

//  utility 
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.max-width {
  width: 100%;

  @media screen and (min-width: 480px) {
    max-width: 95%;
     margin: 0 auto; 
    }
}

.text-white { color: var(--color-white) !important; }

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
    color: black;
    border: 2px solid black;
    box-shadow: 3px 3px 0 0 black;
    text-decoration: none;
    transition: all .1s linear;
    
    &:hover,
    &:focus {
        background-color: black;
        color: white !important;
        text-decoration: underline;
        box-shadow: none;
    }
    
    &:focus {
        box-shadow: none;
        outline: 4px dashed black;
        outline-offset: 2px;
    }
}

