:root {
    --color-black: black;
    --color-white: white;
    --color-blue-light: #D6E4FF;
    --color-blue-dark: #0D2354;
    --color-text-link: #264C98;
    --color-text-link-light: #D6E4FF;
    --font-size-base: 18px;
    --font-family-base: "Zalando Sans", sans-serif;
    --border-radius-circle: 50%;
    --border-radius-box: 10px;
} 

header {
    padding: 0 !important;
    margin-bottom: 4rem;
    
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-base) !important;
    font-weight: 700 !important;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-optical-sizing: none;
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1;
    text-align: left;
    color: var(--color-blue-dark);  

    .hero__site-title & {
        font-size: 45px;
        font-weight: 300 !important;
        margin-bottom: 0;
        text-align: right;
    }
}


.h2, h2 {
    font-size: 4.5rem !important;
    line-height: 1;

}

.h3, h3 {
    font-size: 3.5rem !important;
    line-height: 1.2;
}

p, 
a, figcaption {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base) !important;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 1.5;
    color: var(--color-blue-dark); 

    .hero__site-title & { 
        text-align: right;
        margin-bottom: 0 !important;
    }
}

a {
    color: var(--color-text-link);

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus { outline: auto; }

    &.skip-to-main {
        position: absolute;
        top: -45px;
        left: 0;
        background: var(--color-blue-dark);
        color: var(--color-white);
        padding: 8px;
        z-index: 100;
        
        &:focus {
            top: 0;
        }
    }
}

figure {

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

.hero__identity {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url('../images/dust-texture.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .hero__logo {
        max-width: 200px;
        height: auto;
    }
    
   
}

.hero__carousel {
    position: relative;
}

body {
    background-color: var(--color-white);
    padding: 0;
    margin: 0;
}

main {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    
}

article.content {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    padding: 2rem;
    margin-bottom: 4rem;
}

aside {
    position: sticky;
    top: 2rem;
    display: flex;
    flex-flow:column nowrap;
    width: 22%;
    background-color: var(--color-blue-light);
    padding: 2rem;
}

section {
    width: 100%;

    .section__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;    
    }

    .section__content--left,
    .section__content--right {
        display: flex;
        flex-flow: column nowrap;
    }

    .section__content--left {
        width: 75%;
    }

    .section__content--right {
        width: 25%;
    }       
}

ul li {
    
    a {
        display: block;
        padding-bottom: 0.75rem;
    }

    a.visible { font-weight: 700; }



    &::before {
        display: none;
    }

    &::marker {
        color: black !important;
        font-size: 1rem !important; 

    }
}

// footer
footer {
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    padding: 6rem 2rem 3rem;
    color: var(--color-white);
    

    p { color: var(--color-white); }

    a, 
    li, 
    address { 
        color: var(--color-white);
        margin: 0;
        padding: 0;

        p { 
            margin: 0;
            padding-bottom: 0; }

        a, i { 
            padding-bottom: 0;
            color: var(--color-text-link-light);
        }
    }

    .footer__inner {
        max-width: 70%;
    }

    .footer__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
    }
    
    .footer__content--left {
        width: 60%;
    }
    .footer__content--right {
        width: 40%;
    }

    .footer__links {
        list-style: none;
        padding: 0;
        
        li {
            display: inline-flex;
            width: fit-content;
            border-right: 1px solid var(--color-white);
            padding: 0 0.25rem;
            margin-bottom: 1rem;

            &:last-child { border-right: none; }

            &:first-child { padding-left: 0; }       
        }
    }

    .footer__bottom {
        margin-top: 6rem;
    }
}

//  utility 
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.max-width {
  max-width: 95%;
  margin: 0 auto;
}

.text-white {
    color: var(--color-white);
}



.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  color: black;
  border: 2px solid black;
  box-shadow: 3px 3px 0 0 black;
  text-decoration: none;
  transition: all .1s linear;
  
  &:hover,
  &:focus {
    background-color: black;
    color: white !important;
    text-decoration: underline;
    box-shadow: none;
  }
  
  &:focus {
    box-shadow: none;
    outline: 4px dashed black;
    outline-offset: 2px;
  }
}

