.sidebar {
    display: flex;
    flex-flow:column nowrap;
    order: 1;
    width: 100%;
    background-color: var(--color-blue-light);
    background-image: url('../images/noise-bg.png'); 
    background-repeat: repeat;
    background-position: center center;
    padding: 1rem;
    position: static;
    
    @media screen and (min-width: 1024px) {
        position: sticky;
        top: 2rem;
        align-self: flex-start;
        width: 20vw;
        order: 2;
        padding: 2rem;
        margin-right: 2rem;
    }

    .sidebar__intro {
        margin-bottom: 1rem;
        border-bottom: 2px solid #0D2354;
        font-size: 0.8rem;
    }

    .sidebar__nav {
        margin: 0;
        padding: 0;
        list-style: none;
        
        a {
            display: block; 
            padding: 0.5rem 0;
            
            &.visible { font-weight: 700; }
        }
    }
}