.sidebar {

    .sidebar__intro {
        margin-bottom: 1rem;
        border-bottom: 2px solid #0D2354;
        font-size: 0.8rem;
    }

    .sidebar__nav {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sidebar__nav-list {
        
    }
    
}