/********************
 ** Slider Styles
 ********************/
.hero-slider {
    margin: 0 !important;
    width: 100vw !important;

    button {
        
        i {
            position: relative;
            width: 100%; 
            height: 100%;
            
            &::before {
                display: block;
                font-size: 22px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        &:focus,
        &:hover {
            background-color: rgba(0,0,0,1) !important;
            color: white !important;
        }

        &:focus { outline: auto; }
    }
  
  /** Autoplay toggle button in the top left corner */
    button.slick-autoplay-toggle-button {
        display: block;
        left: auto;
        right: 16px;
        top: 10px;
        bottom: auto;
        padding: 1rem;
        border: 0;
        background: rgba(256,256,256,.8) !important;
        box-shadow: 1px 1px 5px rgba(0,0,0,.3);
        z-index: 10;
        opacity: 1;
        width: 45px;
        height: 45px;
        cursor: pointer;
        color: black !important;

        @media screen and (min-width: 768px) {
            right: 1px;
            top: 1px;
        }
    }
  
    /** Custom previous and next arrows in the top right corner */
    .custom-prev-button,
    .custom-next-button {
        position: absolute;
        top: calc(50% - 20px);
        z-index: 1;
        display: block;
        background: rgba(256,256,256,.8) !important;
        box-shadow: 1px 1px 5px rgba(0,0,0,.3);
        border: 0;
        padding: 0.5rem;
        margin: 0;
        cursor: pointer;
        height: 35px;
        width: 35px;
        color: black;
        border-radius: 50%;  
    } 

    .custom-next-button { right: 10px; }

    .custom-prev-button { left: 10px; }
    
    .slick-dots {
        display: flex;
        justify-content: center;
        bottom: -50px;
        
        @media screen and (min-width: 1024px) {
            bottom: -70px;                   
        }

        li {
            margin: 0 1px;
        
            button  {
                height: 35px;
                width: 35px;
                display: flex;
                padding: 0;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
            }

            .slick-dot-icon {
                display: block;
                color: #fff !important;
                border-radius: 50%;
                height: 16px;
                width: 16px;
                border: 2px solid #f32b2b !important;
                opacity: 0.6 !important;
    
                &:before { display: none; }

            }
            
            &.slick-active {

                .slick-dot-icon {
                    height: 24px;
                    width: 24px;
                    background-color: #d8d7da !important;
                    opacity: 1 !important;
                    border: 4px solid #f32b2b !important;
                }
            }
       }
    }  

    .slick-slide {
        
        // text overlay
        .overlay {
            position: absolute;
            width: 100%;
            height: auto;
            bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
            padding: 2px;
        }

        .credit { 
            position: absolute;
            left: 0;
            top: 10px;
            display: inline-block;
            width: fit-content;
            background-color: #f5f8ff;
            margin: 0;
            padding: 0.25rem;
            font-style: italic;
            text-align: left;
            text-decoration: underline;
            color: #143d90;

            @media screen and (min-width: 768px) { padding: 0.75rem; }

            a {
                font-style: italic;
                font-size: 0.8rem;
            }

            &:hover,
            &:focus {
                text-decoration: none;  
            }
        }
        
        .overlay__content {
            display: flex;
            flex-direction: column;
            max-width: fit-content;
            text-align: center;
            padding-bottom: 1rem;

            @media screen and (min-width: 768px) { width: 75%;}
            
            @media screen and (min-width: 1024px) {
                width: fit-content;
                font-size: 65px;                
                padding: 0;
            }

            h2:has(.overlay__background) {
                padding: 0;
                margin: 0;
                font-size: 1.2rem;
                text-align: center;

                @media screen and (min-width: 480px) { font-size: 1.4rem; }

                @media screen and (min-width: 768px) { font-size: 2rem; }

                @media screen and (min-width: 1024px) { font-size: 3.5rem; }
            }

            &.offset {
                margin-left: 13%;
            }


        }
        
        .overlay__subtitle {
            display: block;
            padding: 1rem;
            max-width:75%;
            margin: 1rem auto;
            background-color: var(--color-blue-light);
            font-size: 14px;
            border-radius: var(--border-radius-box);

            @media screen and (min-width: 768px) {
                margin: 2rem auto;
                font-size: 18px;
                max-width: 768px;
            }
        }

        .overlay__background {
            position: relative;
            display: inline-block;
            margin-bottom: 1rem;
            background-color: #fff;
            padding: 7px;
            border-radius: 50px;
            
            @media screen and (min-width: 768px) {
                padding: 7px 20px 7px;              
            }

            &::after,
            &::before {  
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50px;
            }

            &::before { box-shadow: 0px -4px 6px #DC2F37; }

            &::after { box-shadow: 0px 12px 14px #1049BA; }

        }
        
        .background-image {
            width: 100%;
            height: auto;
            background-size: cover;
            
            @media screen and (max-width: 768px) {
                width: auto;
                height: 600px;
                margin: 0 auto;
            }
        }
    }
}

// main {

  
//   /** Documentation under carousel */
//   .content {
//     padding: 20px 15%;
//     color: rgba(0,0,0,.9);
//     line-height: 26px;
    
//     h1 {
//       line-height: 36px;
//     }
    
//     a {
//       color: black;
//       font-weight: bold;
      
//       &:hover,
//       &:focus {
//         color: royalblue;
//       }
//     }
    
//     li {
//       margin-bottom: 15px;
//       padding-left: 5px;
//     }
    
//     code {
//       background-color: rgba(0,0,0,.05);
//       color: red;
//       padding: 2px 8px;
//     }
    
//     .btn {
//       margin-top: 30px;
//       font-size: 18px;
//       padding: 10px 20px;
//     }
//   }
// }

