:root {
  --color-black: black;
  --color-white: white;
  --font-size-base: 16px;
}

header {
    padding: 0 !important;
}

p {
    font-size: var(--font-size-base);

}

.hero__identity {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .hero__logo {
        max-width: 200px;
        height: auto;
    }
    
    .hero__site-title {
        font-size: 32px;
        font-weight: bold;
        text-align: right;
    }   
}

.hero__carousel {
    position: relative;
}




body {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--color-white);
    padding: 0;
    margin: 0;
}

main {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: pink;
    max-width: 60%;
    margin-right: 0 !important;
    margin-left: 2rem !important;
}

aside {
    display: flex;
    flex-flow:column nowrap;
    width: 35%;
    background-color: yellow;

}

section {
    width: 100%
}

//  utility 

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.max-width {
  max-width: 95%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  color: black;
  border: 2px solid black;
  box-shadow: 3px 3px 0 0 black;
  text-decoration: none;
  transition: all .1s linear;
  
  &:hover,
  &:focus {
    background-color: black;
    color: white !important;
    text-decoration: underline;
    box-shadow: none;
  }
  
  &:focus {
    box-shadow: none;
    outline: 4px dashed black;
    outline-offset: 2px;
  }
}

