/********************
 ** Slider Styles
 ********************/
.hero-slider {
  margin: 0 !important;
  
  /** Autoplay toggle button in the top left corner */
  .slick-autoplay-toggle-button {
    // position: absolute;
    // top: 10px;
    // left: 10px;
    // bottom: auto;
    // background: none;
    // border: 0;
    // z-index: 10;
    // font-size: 32px;
    // opacity: 1;
    // cursor: pointer;
    // color: black;
    
    // &:hover {
    //   background-color: rgba(0,0,0,.05);
    // }

    // &:focus {
    //   background-color: rgba(0,0,0,.7);
    //   color: white;
    // }
  }
  
  /** Custom previous and next arrows in the top right corner */
  .custom-prev-button,
  .custom-next-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;

    display: block;
    float: left;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 32px;
    cursor: pointer;
    
    &:hover {
      background-color: rgba(0,0,0,.05);
    }

    &:focus {
      background-color: rgba(0,0,0,.7);
      color: white;
    }
  }

    .custom-prev-button {
    //   right: 30px;
    }
  
  /** Default slide navigation dots */
  .slick-dots {
    // bottom: 20px;
  }
  
  /** Slide content */
  .slick-slide {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    
    /** Float text overlay */
    .overlay {
      position: absolute;
      width: 30%;
      padding: 20px;
      
      @media screen and (max-width: 768px) {
        width: 80%;
        left: 0 !important;
        top: 100px !important;
        text-align: left;
      }
      
      h2 {
        padding: 0;
        margin: 0;
        font-size: 28px;
      }
      
      p {
        font-size: 14px;
      }
    }
    
    .background-image {
      width: 100%;
      height: auto;
      background-size: cover;
      
      @media screen and (max-width: 768px) {
        width: auto;
        height: 400px;
        margin: 0 auto;
      }
    }
  }
}

// main {

  
//   /** Documentation under carousel */
//   .content {
//     padding: 20px 15%;
//     color: rgba(0,0,0,.9);
//     line-height: 26px;
    
//     h1 {
//       line-height: 36px;
//     }
    
//     a {
//       color: black;
//       font-weight: bold;
      
//       &:hover,
//       &:focus {
//         color: royalblue;
//       }
//     }
    
//     li {
//       margin-bottom: 15px;
//       padding-left: 5px;
//     }
    
//     code {
//       background-color: rgba(0,0,0,.05);
//       color: red;
//       padding: 2px 8px;
//     }
    
//     .btn {
//       margin-top: 30px;
//       font-size: 18px;
//       padding: 10px 20px;
//     }
//   }
// }

